* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
:root {
  --color-333: #333;
  --color-666: #666;
  --color-b0: #b0b0b0;
  --color-white: #fff;
  --color-black: #000;
  --color-898989: #898989;
  --color-3A3A: #3a3a3a;
  --color-242424: #242424;
  --color-F9F1E7: #f9f1e7;
  --color-cream: #fff3e3;
  --color-b88e2f: #b88e2f;
  --color-gray-3: #898989;
  --color-F4F5F7: #f4f5f7;
  --color-B88E2F: #b88e2f;
  --color-816DFA: #816dfa;
  --color-FCF8F3: #fcf8f3;
  --color-616161: #616161;
  --color-9F9F9F: #9f9f9f;
  --color-D9D9D9: #d9d9d9;
  --color-FAF3EA: #faf3ea;
  --color-2EC1AC: #2ec1ac;
  --color-E97171: #e97171;
  --font-poppins: "Poppins";
  --font-montserrat: "Montserrat";
}
a {
  text-decoration: none !important;
}
.row {
  --bs-gutter-x: 0 !important;
}
.input-footer input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid var(--color-b88e2f) !important;
}
.search-btn {
  background-color: var(--color-B88E2F) !important;
  color: var(--color-white) !important;
}
.navbar {
  background-color: var(--color-white);
}
.navbar-brand {
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black) !important;
}
.navbar-nav {
  gap: 40px;
  justify-content: center;
  flex-grow: 1 !important;
}
.navbar-item-icons {
  gap: 45px;
}
.home-header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding-top: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-banner.png);
}
.main-header-content {
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 60px 40px 35px;
  font-family: var(--font-poppins);
  background-color: var(--color-cream);
}
.main-header-content-news {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  color: var(--color-333);
}
.main-header-content-head {
  width: 460px;
  font-size: 52px;
  font-weight: 700;
  line-height: 125%;
  color: var(--color-b88e2f);
}
.main-header-content-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--color-333);
}
.main-header-content button {
  border: none;
  outline: none;
  padding: 25px 72px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-b88e2f);
}
section {
  padding: 60px 0;
}
.main-image img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 10px;
}
.card-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-333);
  font-family: var(--font-poppins);
}
.main-h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--font-color);
  font-family: var(--font-poppins);
}
.main-paragraph {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-666);
  font-family: var(--font-poppins);
}
.card-height {
  height: 470px !important;
  position: relative;
}
.card-height[data-after-content="New"]::after {
  content: attr(data-after-content);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-2EC1AC);
  border-radius: 50%;
  color: var(--color-white);
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 100;
}
.card-height[data-before-content]:not([data-before-content=""])::before {
  content: attr(data-before-content);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-E97171);
  border-radius: 50%;
  color: var(--color-white);
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 100;
}
.products-title {
  font-size: 40px;
  font-weight: 700;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  color: var(--color-3A3A);
  font-family: var(--font-poppins);
}
.product-row .card-title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-3A3A) !important;
}
.card-text-products {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-gray-3);
  font-family: var(--font-poppins);
}
.product-price {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-3A3A);
  font-family: var(--font-poppins);
}
.product-price span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-b0);
  font-family: var(--font-poppins);
  text-decoration-line: line-through;
}
.product-row .card img {
  width: 100%;
  height: 301px;
  object-fit: cover;
}
.card-body-products {
  height: 100%;
  background-color: var(--color-F4F5F7);
}
.product-button {
  width: 245px;
  height: 48px;
}
.product-show {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  color: var(--color-B88E2F);
  font-family: var(--font-poppins);
  border: 1px solid var(--color-B88E2F);
}
.rooms-section {
  background: var(--color-FCF8F3);
}
.room-col {
  width: 80%;
}
.rooms-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-3A3A);
  font-family: var(--font-poppins);
}
.room-desc {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-616161);
  font-family: var(--font-poppins);
}
.rooms-button {
  width: 176px;
  height: 48px;
  text-align: center;
  box-sizing: border-box;
  background: var(--color-B88E2F);
}
.rooms-show {
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.room-img-row-item {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: blue;
}
.room-img-row-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rooms-section .col-xxl-6 > .row .card {
  border: none !important;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: transparent;
}
.small-card {
  width: 217px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  backdrop-filter: blur(1.5px);
  background: rgba(255, 255, 255, 0.72);
  opacity: 0;
  transition: 0.4s;
  cursor: pointer;
  z-index: 10;
}
.room-img-row-item:hover .small-card {
  opacity: 1;
}
.small-title {
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.small-title span {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-616161);
  font-family: var(--font-poppins);
}
.small-card p {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--color-3A3A);
  font-family: var(--font-poppins);
}

.share {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--color-616161);
  font-family: var(--font-poppins);
}
.furniture {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: var(--color-3A3A);
  font-family: var(--font-poppins);
}
.funiro-furniture-container {
  height: fit-content;
  min-height: 500px;
  max-height: 650px;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "one two tree"
    "four two five";
  gap: 10px;
}

.funiro-furniture-container .funiro-img-item {
  width: 100%;
  height: 250px;
  position: relative;
}
.funiro-furniture-container .funiro-img-item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.463);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  cursor: pointer;
}
.funiro-furniture-container .funiro-img-item:hover::after {
  opacity: 1;
}
.funiro-furniture-container .funiro-img-item:nth-of-type(1) {
  grid-area: one;
}
.funiro-furniture-container .funiro-img-item:nth-of-type(2) {
  grid-area: two;
  height: 510px;
}
.funiro-furniture-container .funiro-img-item:nth-of-type(3) {
  grid-area: tree;
}
.funiro-furniture-container .funiro-img-item:nth-of-type(4) {
  grid-area: four;
}
.funiro-furniture-container .funiro-img-item:nth-of-type(5) {
  grid-area: five;
}
.funiro-furniture-container .funiro-img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.furniro-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}
.link-footer a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-poppins);
  margin-bottom: 40px;
}
.footer-card-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  font-family: var(--font-poppins);
  margin-bottom: 40px;
}
.span-location {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  display: block;
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
}
.span-footer {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  line-height: 45px;
}
.input-footer {
  width: 80% !important;
}
.input-footer .input-group {
  gap: 10px;
}
.input-footer input {
  font-size: 14px;
  font-weight: 400;
  border: none !important;
  border-bottom: 2px solid var(--color-616161) !important;
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  border-radius: 0px;
}
.input-footer button {
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid var(--color-616161) !important;
  border-radius: 0px;
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 500;
}
.input-footer button:hover {
  border: none;
  background-color: var(--color-B88E2F);
}
.input-footer button:active {
  background-color: var(--color-B88E2F) !important;
}
.footer-line {
  padding: 35px 0;
  border-top: 1px solid var(--color-D9D9D9);
}
.footer-line-span {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  font-family: var(--font-poppins);
}

/* Shop Page Start*/
.page-header {
  width: 100%;
  height: 316px;
  background-image: url(../img/shop-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.shop-title {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 48px;
  font-weight: 500;
}
.home-shop-link {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.shop-section-one {
  width: 100%;
  padding: 38px 0;
  background: var(--color-F9F1E7);
}
.pagination{
  width: 100%;
  background-color: red;
}
.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: var(--color-F9F1E7);
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 300;
  padding: 20px;
  margin-top: 20px;
}
.footer-planning {
  width: 100%;
  padding: 100px 0px;
  background: var(--color-FAF3EA);
}
.planning-paragraph {
  color: var(--color-242424);
  font-family: var(--font-poppins);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
}
.planning-span {
  color: var(--color-898989);
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 500;
}

/* Product Related Page */

.shop-about-item {
  /* width: 80%; */
  height: 150px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  /* text-align: center; */
  background: var(--color-F9F1E7);
}
.line-header-item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0px 30px;
  border-left: 2px solid var(--color-9F9F9F);
}
.line-header-item p {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.products-related-title {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.products-item-a {
  padding: 50px 0px;
}
.products-item-a a {
  text-decoration: none;
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 400;
}
.products-item-a a:hover {
  color: var(--color-black);
}
.product-item-about {
  color: var(--color-9F9F9F);
  text-align: justify;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.product-item-about p {
  width: 80%;
  margin: auto;
}
.sofa-image-item img {
  width: 98%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  background: var(--color-D9D9D9);
}
.product-detail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.product-image-container {
  border-radius: 10px;
  background: var(--color-F9F1E7);
  width: 76px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-image-container > img {
  width: 83px;
  height: 55px;
  /* object-fit: cover; */
}
.product-detail-bigpicture {
  width: 423px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--color-F9F1E7);
  overflow: hidden;
}
.product-detail-bigpicture > img {
  width: 481px;
  height: 391px;
  /* object-position: center center; */
  object-fit: cover;
}
.container-outline-item {
  /* background-color: green; */
  border-bottom: 1px solid var(--color-D9D9D9);
}
.asgard-title-item {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 42px;
  font-weight: 400;
}
.asgard-title-span {
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 500;
}
.asgard-title-paragraf {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 13px;
  font-weight: 400;
  width: 65%;
}
.line-item {
  width: 150px;
  height: 30px;
  border-left: 1px solid var(--color-9F9F9F);
  color: var(--color-9F9F9F);
  color: #9f9f9f;
  font-family: var(--font-poppins);
  font-size: 13px;
  font-weight: 400;
}
.star-common-item {
  display: flex;
  align-items: center;
  justify-content: start;
}
.size-item-product {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: var(--color-F9F1E7);
}
.size-item-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.size-item-product {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.size-item-active {
  background-color: var(--color-B88E2F);
  color: var(--color-white);
}
.size-item-product:hover {
  background: var(--color-b88e2f);
  color: var(--color-white);
}
.product-common {
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
}
.color-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.product-item-button {
  font-family: var(--font-poppins);
  color: var(--color-black);
}
.plus-minus-item {
  width: 123px;
  height: 64px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-9F9F9F);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.outline-div-item {
  width: 215px;
  height: 64px;
  border-radius: 15px;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.outline-div-item:hover {
  background: var(--color-b88e2f);
  color: var(--color-white);
  border-color: transparent;
}
.card-about {
  width: 100%;
  height: 525px;
}
.details {
  width: 95%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-F9F1E7);
}
.detail-card {
  width: 817px;
}
.card-body-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
}
.number-div {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid var(--color-9F9F9F);
  text-align: center;
  line-height: 32px;
}
.details-text {
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.details-subtext {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.fa-trash {
  color: var(--color-B88E2F);
}
.card-image > img {
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--color-D9D9D9);
}
.card-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-list {
  width: 70%;
  list-style: none;
  margin: auto;
  gap: 20px;
}
.list-right {
  padding-left: 20px;
}
.card-div {
  width: 393px;
  height: 390px;
  background-color: var(--color-F9F1E7) !important;
  border-radius: 0% !important;
  border-style: hidden !important;
}
.card-div--list {
  padding: 60px 60px 10px 60px;
}
.card-title--div {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 32px;
  font-weight: 600;
}
.div-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 30px;
}
.div-button {
  width: 222px;
  height: 58.954px;
  border-radius: 15px !important;
  border: 1px solid var(--color-black) !important;
  line-height: 42px !important;
}
.bold-span {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}
.gray-span {
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.yellow-span {
  color: var(--color-b88e2f);
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 500;
}
.check {
  margin-top: 90px;
}
.input-details {
  width: 453px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid var(--color-9F9F9F);
  background: var(--color-white);
}
.input-details:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid var(--color-b88e2f);
}
.input-details::placeholder {
  padding: 20px;
}
.div-input {
  width: 80%;
  display: flex;
  gap: 30px;
}
.div-input > input {
  width: 211px;
}
.div-input-title {
  width: 51%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-inputs {
  margin-top: 36px !important;
  display: flex;
  flex-direction: column;
}
.com-p {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}
.div-input-title > p {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}
.inp-dtl {
  margin-top: 66px;
}
.div-input-ttl {
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 36px;
  font-weight: 600;
}
.check > .container > .row > .col-xxl-6 > .right-container {
  width: 100% !important;
  padding: 40px 35px 20px 35px !important;
  /* background-color: yellow; */
}
.first-row {
  /* background-color: #2ec1ac; */
  border-bottom: 1px solid var(--color-D9D9D9);
}
.second-row {
  margin-top: 22px;
}
.com-row > .row {
  padding-bottom: 10px;
  font-family: var(--font-poppins);
}
.paragraf-1 {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
}
.paragraf-2 {
  color: var(--color-9F9F9F);
  font-size: 16px;
  font-weight: 400;
}
.paragraf-3 {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 300;
}
.bold {
  margin-left: 10px;
  color: var(--color-black) !important;
}
.subttl {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
}
.gold-txt {
  color: var(--color-B88E2F);
  font-size: 24px;
  font-weight: 700;
}
.direct {
  /* background-color: burlywood; */
  font-family: var(--font-poppins);
  font-size: 16px;
}
.direct > p {
  margin-bottom: 0px !important;
  color: var(--color-black);
  font-weight: 400;
}
.circle-input {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: var(--color-black);
}
.direct-subtitle {
  margin-top: 11px;
  width: 73%;
  color: var(--color-9F9F9F);
  font-weight: 300;
}
.empty-circle {
  width: 14px;
  height: 14px;
  border: 2px solid var(--color-9F9F9F);
  background-color: transparent;
  border-radius: 50%;
}
.com-m {
  margin-bottom: 11px;
}
.d-p {
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-weight: 500;
  margin-bottom: 0px !important;
}
.five-row-p {
  padding-top: 11px;
  width: 85%;
  color: var(--color-black);
  text-align: justify;
  font-family: var(--font-poppins);
  font-weight: 300;
}
.five-row-p > span {
  font-weight: 600;
}
.six-row > .btn-row {
  width: 318px;
  height: 64px;
  border-radius: 15px;
  border: 1px solid var(--color-black);
  margin-top: 40px;
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 400;
}
.btn-row:hover {
  border: 2px solid var(--color-b88e2f) !important;
  color: var(--color-b88e2f) !important;
}
.cont-container{
  width: 82% !important;
  height: auto;
  margin-top: 82px;
  padding: 20px !important;
}
.contact-title{
  text-align: center;
  margin-top: 90px;
}
.contact-ttl{
  color: var(--color-black);
  font-size: 36px;
  font-weight: 600;
  font-family: var(--font-poppins);
}
.contact-sttl{
  width: 50%;
  margin: auto;
  color: var(--color-9F9F9F);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.info{
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px !important;
}
.infos{
  width: 212px;
  color: var(--color-black);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px !important;
}
.input-details-con{
  width: 90%;
  height: 75px;
  border-radius: 10px;
  border: 1px solid var(--color-9F9F9F);
}
.input-details-con:focus{
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid var(--color-b88e2f);
}
.div-inputs--contact{
  width: 100%;
  height: 150px;
}
.input-details-con::placeholder{
  padding: 20px;
}
.txt-contact:focus{
  outline: none !important;
  border: 2px solid var(--color-b88e2f) !important;
  box-shadow: 0 0 0 0.25rem rgba(246, 165, 15, 0.25) !important;
}
.form-floating > label{
  padding: 20px !important;
}
.txt-contact{
  width: 90% !important;
  min-height: 120px !important;
  max-height: 250px !important;
}
.contact-button>.btn-contact{
  margin-top: 49px;
  width: 237px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid var(--color-B88E2F);
  background: var(--color-B88E2F);
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
}
.contact-button>.btn-contact:hover{
  background-color: #facd65;
  color: var(--color-white);
}