@media (max-width: 1400px) {
  .card-about {
    margin-bottom: 130px;
  }
  .card-about > .container > .row > .col-xxl-8 {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .main-header-row {
    justify-content: center;
  }
  .card-about > .container > .row > .col-xxl-8.details {
    width: 1400px !important;
  }
}
@media (max-width: 992px) {
  .contact-sttl {
    width: 80%;
  }
  .navbar-nav {
    gap: 10px;
    margin-top: 15px;
  }
  .main-header-content-news {
    font-size: 14px;
  }
  .main-header-content-head {
    font-size: 30px;
  }
  .main-header-content-text {
    font-size: 15px;
  }
  .main-header-content button {
    padding: 15px 33px;
  }
  .room-col {
    padding: 0 10px;
    width: 100%;
  }
  .sofa-image-item .row {
    gap: 15px !important;
  }
  .card-about > .container > .details > .details-list {
    gap: 5px !important;
  }
  .check > .container > .row > .col-md-12 > .right-container {
    padding: 60px 0px !important;
  }
}
@media (max-width: 768px) {
  .contact-sttl {
    width: 80%;
  }
  .main-header-content {
    padding: 30px 25px;
  }
  .funiro-furniture-container {
    max-height: 1300px;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .funiro-furniture-container .funiro-img-item {
    width: 49%;
    height: 250px !important;
  }
  .order-min-0 {
    order: 0;
  }
  .order-min-1 {
    order: 1;
  }
  .order-min-2 {
    order: 2;
  }
  .order-min-3 {
    order: 3;
  }
  .products-item-a .col-sm-12 {
    padding-bottom: 10px;
  }
  .product-details-main .col-sm-12 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .product-detail-bigpicture > img {
    width: 100%;
    height: 100%;
  }
  .product-details-main .product-detail-bigpicture {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .pb-mobile-2 {
    padding-bottom: 16px;
  }
  .main-header-content-head {
    width: 100%;
  }
  .furniture,
  .rooms-title {
    font-size: 20px;
  }
  .room-desc {
    font-size: 13px;
  }
  .funiro-furniture-container .funiro-img-item {
    width: 100%;
  }
  .input-footer,
  .span-footer {
    width: 100%;
  }
  .span-location {
    line-height: 1.4;
  }
  .span-footer,
  .footer-card-title,
  .link-footer a {
    margin-bottom: 15px;
  }
  .footer-planning .planning-paragraph {
    font-size: 22px;
  }
  .footer-planning .planning-span {
    font-size: 16px;
  }
  .footer-planning .col-xxl-3 svg {
    width: 50px;
    height: 50px;
  }
  .txt-contact {
    width: 100% !important;
  }
  .input-details-con {
    width: 100%;
  }
  .contact-ttl {
    font-size: 26px;
  }
  .contact-sttl {
    width: 100%;
  }
  .pagination span {
    font-size: 14px;
    padding: 10px;
  }
  .blog-input{
    width: 60%;
  }
}
